.site-header-main {
    margin: 0;
}
#masthead {
    margin-top: 10px;
}
.site-branding {
    width: 100%;
    height: 120px;
    margin: 0;
    padding: 0;
}
#site-branding-header {
    padding: 0;
}
.row-branding {
    position: fixed;
    background: white;
    opacity: 1;
    z-index: 50000;
    top: 0;
    padding-top: 10px;
}
.site-logo {
    width: 10%;
    height: 120px;
    float: left;
    padding-left: 5px;
}
.custom-logo {
    width: 40px;
}
.main-title {
    width: 80%;
    height: 120px;
    float: left;
}
.main-title p {
    font-size: 20px;
    text-align: center;
    margin-top: -3px;
}
.site-description {
    display: inherit;
}
.main-description p {
    font-size: 10px;
    margin-top: -15px;
    margin-left: -10px;
}
#menu-wrapper {
    width: 10%;
    height: 120px;
    float: left;
}
#menu-toggle {
    font-size: 10px;
    margin-left: -25px;
}
.edfm-toggle {
    background: white;
    margin-top: -5px;
}
.edfm-toggle:hover {
    border: 1px solid black;
}
#menu-test li a {
    color: white;
    padding: 3px;
    font-size: 14px;
}
#menu-test li a:hover {
    font-size: 20px;
    font-weight: 600;
    text-shadow: 4px 4px 2px #5FAAAD;
}
.row-menu-ECA {
    width: 100%;
}
.central-menu {
    width: 80%;
    height: auto;
    float: left;
    margin-left: 10%;
    margin-right: 10%;
}
#menu-menu2 {
    list-style: none;
    text-align: center;
    font-weight: 900;
}
#menu-menu2 li {
    margin-top: 5px;
}
#menu-menu2 li a {
    color: black;
}
.row-slider {
    margin-top: -120px;
}
